.account-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .account-detail-title {
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
  }

  .account-detail-value {
    font-size: 22px;
  }
}
