@font-face {
  font-family: 'Flama';
  font-style: normal;
  font-weight: normal;
  src: local('Flama'), url('flama-regular.woff') format('woff');
}

@font-face {
  font-family: 'Flama Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Flama Italic'), url('flama-italic.woff') format('woff');
}

@font-face {
  font-family: 'Flama Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Flama Bold Italic'), url('flama-bold-italic.woff') format('woff');
}
