@import './_theme/animations';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;

  .logo {
    transform: rotate(270deg);
    height: 50px;
    pointer-events: none;
    margin-right: 10px;
  }
}

header,
footer {
  background: #14233c;
  padding: 0 20px;
}

main {
  flex: 1;
  overflow: auto;
  padding: 20px;
  background: url('./_assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(20, 35, 60, 0.8);
}
