.account {
  .card {
    width: 320px;
    min-height: 240px;
  }

  .account-title {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .account-detail {
    margin-bottom: 10px;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  // @todo use dynamic values for margin calc or flex(change html)
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-left: -12px;
  }
}
